body {
	 background-color: #f4c2c2;
  font-family: Mooli;
	 margin: 3rem auto;
	 max-width: 200rem;
} 
h1 {
	 text-align: center;
	 margin-bottom: 5rem;
   font-size: 10rem;
   font-family: Gloock;
   font-weight: 700;
  color: magenta;
}

@media screen and (min-width: 35rem) 
  {
	 section {
		 flex-direction: row;
	}
}
 section > * {
	 flex: 3;
}
 article {
	 padding: 1rem;
}
 article p {
	 font-family: gloock;
	 font-size: 1.1rem;
	 line-height: 1.8;
}
 @media screen and (min-width: 35rem) {
	 article p {
		 margin: 0;
	}
   }
 @media screen and (min-width: 35rem) {
	 article p:not(:last-of-type) {
		 /*min-height: 90vh;*/
	}
}

figure {
   padding: 2rem;
  margin: 1rem;
	 align-items: center;
	 align-self: flex-start;
	 display: flex;

	 justify-content: center;
	 top: 3rem;
}
 @media screen and (min-width: 35rem) {
 
   img {
		 position: sticky;
	}
   
h2{
  color:transparent;
  font-family: 'Zeyada', cursive;
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(45deg, rgba(0,0,0,0), rgba(4,4,6,1));
  background-size: 400% 400%;
  -webkit-background-clip: text;
	animation: gradient 20s ease infinite;
}

 
/*https://www.w3schools.com/css/css_tooltip.asp*/
.tooltiptext {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/*Custom Cursor Images https://codepen.io/fmressel/pen/djwvJVLinks to an external site.  Search for Unicode using https://emojipedia.org/Links to an external site.  and replace characters before .png*/

/*Rainbow*/
.rainbow {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1fa90.png) 36 36, auto;
}

/*money*/
.money {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f4b8.png) 36 36, auto;
}
/*Rainbow*/
.hand {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f3c6.png) 36 36, auto;
}

section{
  display: flex;
}

.tooltiptext{
  visibility: hidden;
}

.space:hover .tooltiptext{
  visibility: visible;
}

figure{
  position:sticky;
}